<div id="mySidenav" class="sidenav">
			<p style="text-align: center;"><span class="logo" class="menu">UPPON</span></p>
			<a href="#" class="icon-a"><i class="fa fa-dashboard icons"></i> Dashboard</a>
			<a href="/integrations" class="icon-a"><i class="fa fa-list icons"></i> Automações</a>
			<a href="#" class="icon-a"><i class="fa fa-circle icons"></i> Configurações</a>
			<a href="/logout" class="icon-a"><i class="fa fa-bell icons"></i> Sair </a>
			
			<!-- <p class="logo1"> <span class="menu1"></span></p> -->
			<!-- <a href="#"class="icon-a"><i class="fa fa-pie-chart icons"></i> Charts</a> -->
			<!-- <a href="#"class="icon-a"><i class="fa fa-shopping-bag icons"></i> Orders</a> -->
			<!-- <a href="#"class="icon-a"><i class="fa fa-tasks icons"></i> Inventory</a> -->
			<!-- <a href="#"class="icon-a"><i class="fa fa-user icons"></i> Accounts</a> -->
			<!-- <a href="#"class="icon-a"><i class="fa fa-list-alt icons"></i> Tasks</a> -->

			<h5 style="text-align: center; color: white;">Olá, <%= name %>
			</h5>

		</div>