<body>
	<%- include('partials/header'); -%>

		<div id="mySidenav" class="sidenav">
			<p style="text-align: center;"><span class="logo" class="menu">UPPON</span></p>
			<!-- <p class="logo1"> <span class="menu1"></span></p> -->
			<a href="#" class="icon-a"><i class="fa fa-dashboard icons"></i> Dashboard</a>
			<!-- <a href="#"class="icon-a"><i class="fa fa-pie-chart icons"></i> Charts</a> -->
			<a href="/integrations" class="icon-a" type="button" data-toggle="modal" data-target="#exampleModal"><i
					class="fa fa-list icons"></i> Automações</a>

			<!-- <a href="#"class="icon-a"><i class="fa fa-shopping-bag icons"></i> Orders</a> -->
			<!-- <a href="#"class="icon-a"><i class="fa fa-tasks icons"></i> Inventory</a> -->
			<!-- <a href="#"class="icon-a"><i class="fa fa-user icons"></i> Accounts</a> -->
			<!-- <a href="#"class="icon-a"><i class="fa fa-list-alt icons"></i> Tasks</a> -->
			<a href="#" class="icon-a"><i class="fa fa-circle icons"></i> Configurações</a>
			<a href="/logout" class="icon-a"><i class="fa fa-bell icons"></i> Sair </a>

			<h5 style="text-align: center; color: white;">Olá, <%= name %>
			</h5>

		</div>

		<!-- Modal -->
		<!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
			aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Minhas automações</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">

							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form>
						
							<div class="form-check form-switch">
								<input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
								<label class="form-check-label" for="flexSwitchCheckDefault">SGA(Inova)</label>
							  </div>
							  <div class="form-check form-switch">
								<input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
								<label class="form-check-label" for="flexSwitchCheckChecked">WhatsApp</label>
							  </div>
							  <div class="form-check form-switch">
								<input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDisabled" disabled>
								<label class="form-check-label" for="flexSwitchCheckDisabled">IXC</label>
							  </div>
							  <div class="form-check form-switch">
								<input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckCheckedDisabled" checked disabled>
								<label class="form-check-label" for="flexSwitchCheckCheckedDisabled">Voalle</label>
							  </div>
						
						</form>
						
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary">Save changes</button>
					</div>
				</div>
			</div>
		</div> -->
		<div id="main">



			<div class="clearfix"></div>
			<br />

			<div class="col-div-4-1">
				<div class="box">
					<p class="head-1">Assinaturas</p>
					<p class="number">15</p>
					<p class="percent"><i class="fa fa-long-arrow-up" aria-hidden="true"></i> 5% <span>Em comparação
							ao mês passado</span></p>
					<i class="fa fa-line-chart box-icon"></i>
				</div>
			</div>
			<div class="col-div-4-1">
				<div class="box">
					<p class="head-1">Clientes</p>
					<p class="number">10</p>
					<p class="percent" style="color:red!important"><i class="fa fa-long-arrow-down"
							aria-hidden="true"></i> 2.8% <span>Em comparação ao mês passado</span></p>
					<i class="fa fa-circle-o-notch box-icon"></i>
				</div>
			</div>
			<div class="col-div-4-1">
				<div class="box">
					<p class="head-1">Pedidos</p>
					<p class="number">35</p>
					<p class="percent"><i class="fa fa-long-arrow-up" aria-hidden="true"></i> 4% <span>Em comparação
							ao mês passado</span></p>
					<i class="fa fa-shopping-bag box-icon"></i>
				</div>
			</div>

			<div class="clearfix"></div>
			<br />


			<div class="col-div-4-1">
				<div class="box-1">
					<div class="content-box-1">
						<p class="head-1">Mais Pedidos</p>
						<br />
						<div class="m-box active">
							<p>Receita A<br /><span class="no-1">Mês Passado</span></p>
							<span class="no">+2343</span>
						</div>

						<div class="m-box">
							<p>Receita B<br /><span class="no-1">Mês Passado</span></p>
							<span class="no">+2343</span>
						</div>

						<div class="m-box">
							<p>Receita C<br /><span class="no-1">Mês Passado</span></p>
							<span class="no">+2343</span>
						</div>

					</div>
				</div>
			</div>
			<div class="col-div-4-1">
				<div class="box-1">
					<div class="content-box-1">
						<p class="head-1">Conversões<span>Ver tudo</span></p>

						<div class="circle-wrap">
							<div class="circle">
								<div class="mask full">
									<div class="fill"></div>
								</div>
								<div class="mask half">
									<div class="fill"></div>
								</div>
								<div class="inside-circle"> 70% </div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-div-4-1">
				<div class="box-1">
					<div class="content-box-1">
						<p class="head-1">Atividade <span>Ver Tudo</span></p>
						<br />
						<p class="act-p"><i class="fa fa-circle"></i> Lorem Ipsum is simply dummy text of
							the&nbsp;&nbsp;printing and typesetting industry. </p>
						<p class="act-p"><i class="fa fa-circle" style="color:red!important;"></i> Lorem Ipsum is simply
							dummy text of the&nbsp;&nbsp;printing and typesetting industry. </p>
						<p class="act-p"><i class="fa fa-circle" style="color:green!important;"></i> Lorem Ipsum is
							simply dummy text of the&nbsp;&nbsp;printing and typesetting industry. </p>
						<p class="act-p"><i class="fa fa-circle"></i> Lorem Ipsum is simply dummy text of
							the&nbsp;&nbsp;printing and typesetting industry. </p>

					</div>
				</div>
			</div>

			<div class="clearfix"></div>
			<br />
			<div class="col-div-12">
				<div class="box-8">
					<div class="content-box">
						<p>Clientes <span>Ver Todos</span></p>
						<br />
						<table id="automation">
							<thead>
								<tr>
									<th>Nome</th>
									<th>Email</th>
									<th>Número</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Wesley Freitas</td>
									<td>email@email.com</td>
									<td>(85) 99999-9999</td>
								</tr>
								<tr>
									<td>Micchell Oliveira</td>
									<td>email@email.com</td>
									<td>(85) 99999-9999</td>
								</tr>
								<tr>
									<td>Luciano Buenno</td>
									<td>email@email.com</td>
									<td>(85) 99999-9999</td>
								</tr>

							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>

		<%- include('partials/footer'); -%>